@use './variable' as var;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var.$textColor;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: var.$bgBtn;
    border: 0px;
    color: white;
    border-radius: 4px;
}

.controller button {
    background-color: transparent;
}

h1, h2, button {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    color: #444A4A;
    font-size: 19px;
    font-weight: 400;
    line-height: 36px; 
    letter-spacing: 0.019px;
}

span, header a {
    font-family: 'Cedarville Cursive', cursive;
}

